* a{
    text-decoration: none;
}
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link{
    font-size: 14px;
}

.nav-link:hover{
    color: #fdbe33;
}








.navbar-brand img {
    width: 50%;
}

.carousel-item img {
    /* border: 2px solid red; */
    height: calc(100vh - 55px);
}

.nav-link {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.modal-body img {
    width: 100%; /* Adjust the width as needed */
}

.carousel-item img {
     /* Set a fixed height for consistency */
     /* Ensure images maintain aspect ratio and cover the entire slide */
}

.modal-body img {
    width: 100%; /* Make sure images in modals fill the modal width */
}


.qr-codee{
    width: 150px !important;
    /* border: 2px solid red; */
    margin-left: 30%;
}