          .testimonial-border {
               /* border: 2px solid red; */
               background-color: #f8f9fa;
               height: 340px;
          }

          .testimonial-container {
               /* border: 2px solid red; */
               max-width: 600px;
               margin: 25px auto;
          }

          .testimonial-heading {
               text-align: center;
               font-size: 30px;
               font-weight: 600;
               margin-top: 20px;
               margin-bottom: -20px;
               color:  #fdbe33;;
          }

          .testimonial-heading span{
               font-size: 20px;
               color: black;
          }
          .testimonial-card {
               text-align: center;
               padding: 20px;
          }

          .testimonial-image {
               width: 80px;
               height: 80px;
               border-radius: 50%;
               margin-bottom: 20px;
          }

          .testimonial-text {
               font-style: italic;
               margin-bottom: 20px;
          }

          .carousel-control-prev,
          .carousel-control-next {
               color: #000;
          }

          .testimonialll img{
               /* border: 20px solid red; */
               height: 100px;
               width: 100px;
          }